@model ProductVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-4">
                <label asp-for="Model.Name" class="control-label"></label>
                <select asp-for="ModelId" class="form-select" asp-items="ViewBag.ModelId"></select>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Condition" class="control-label "></label>     
                <select asp-for="ConditionId" class ="form-select" asp-items="ViewBag.ConditionId"> 
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Serialnumber" class="control-label"></label>
                <input asp-for="Serialnumber" class="form-control" />
                <span asp-validation-for="Serialnumber" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Unitcost" class="control-label"></label>
                <input asp-for="Unitcost" class="form-control" />
                <span asp-validation-for="Unitcost" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <br/>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-dark">Back to List</a> &nbsp;
                <input type="submit" value="Save Changes" class="btn text-dark btn-warning" />
            </div>
        </form>
    </div>
</div>
